body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    color: #666;
}

.col-4 a {
    text-decoration: none;
}

li {
    margin-bottom: 1rem;
}